<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <button (click)="startGame()">Start new</button>
  <button (click)="endGame()">End</button>
  <div *ngFor="let row of matrix; let i = index" class="row">
    <div *ngFor="let el of row; let j = index" class="el" (click)="makeStep(i, j)">
      {{el}}
    </div>
  </div>
  <div *ngIf="isFinished && winner && winner === userSide">You win</div>
  <div *ngIf="isFinished && winner && winner !== userSide">You failed</div>
  <div *ngIf="isFinished && !winner">Draw</div>
  <div *ngIf="isError">An error occured</div>
</div>


<router-outlet></router-outlet>
